
.titler {
  text-align: center;
}

.sub-titler {
  text-align: center;
}

.step1 {
  text-align: left;
}

.home-ul {
  display: inline-block;
  border-right: 10px solid firebrick;
}

.home-ul li {
  list-style: none;
}

.home-ul li button{
  font-size: 20px;
  padding: 12px 5px;
  margin: 5px 0px;
  width: 160px;
  background-color: lightgrey;
  text-align: center;
}

.home-ul li button:hover{
  background-color: lightgreen;
  color: white;
}

.home-ul li button:focus{
  background-color: dimgray;
  color: white;
  /* border-right: 10px solid firebrick; */
}


/* VVVV styles for info in step 1 */
/* .displayer {
  vertical-align: top;
  height: 100%;
  padding: 20px;
  display: inline-block;
}

.descriptor {
  vertical-align: top;
  display: block;
  height: 50px;
  width: 300px;
}

.step1-pic {
  display: block;
  text-align: left;
  margin-top: 50px;
  width: 300px;
}

.step1-pic img {
  max-height: 200px;
  max-width: 300px;
}

.left-table {
  display: block;
  vertical-align: top;
} */






/* Step 2 */

.step2 {
  background: rgb(230,168,23);
}

.home-ul {
  display: inline-block;
}

.home-ul li {
  list-style: none;
}

.seperator button{
  font-size: 20px;
  padding: 12px 5px;
  margin: 5px 0px;
  width: 160px;
  background-color: lightgrey;
  text-align: center;
}

.seperator button:hover{
  background-color: lightgreen;
  color: white;
}

.seperator button:focus{
  background-color: dimgray;
  color: white;
}

.step2-spacer {
  white-space: pre;
  color: cornsilk;
}

.step2 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.step2 td, .step2 th {
    text-align: left;
    padding: 8px;
}

.step2 tr:nth-child(odd) {
  background: cornsilk;
}


/* Step 3 */

.step3-form label{

  text-align: right;
  display: inline-block;
  width: 250px;
}

.step3-form label pre {
  display: inline-block;
  font-family: sans-serif;
}

input, select {
  display: inline-block;
  margin-bottom: 0px;
  height: 25px;
  width: 150px;
}

#message-label {
  width: auto;
}

input[type="submit"] {
  display: block;
  margin-top: 20px;
  margin-left: 50px;
  background-color: lightgrey;
  font-size: 20px;
  color: black;
  width: 200px;
  height: 40px;
}

input[type="submit"]:hover {
  background-color: lightgreen;
  color: white;
}

select {
  padding-bottom: 5px;
}

textarea[type="textarea"] {
 height: 150px;
 width: 350px;

}

.step3-select {
  height: 25px;
  width: 155px;
}

.message-label {
  text-align: left;
}

.step3-form {
  text-align: left;
  width: 100%;
  vertical-align: top;
}

.left-wrapper {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.message-wrapper {
  width: 35%;
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
}
