:root {
  --headerHeight: 80px;
  --headerMinHeight: 30px;
  --centreWidth: 700px;
  --centreMargin: 10%;
  /* --centreMargin: calc((100vw - var(--centreWidth))/2); */
  --topClip: 120px;
  }

body {
  color: #333;
  margin: 0;
  padding-top: var(--headerHeight);
  font-family: sans-serif;
  background-color: cornsilk;
}

header {
  background: linear-gradient(to bottom right, RGB(230,168,23), RGB(230,168,23));
  width: 100%;
  height: var(--headerHeight);
  padding: 10px 0;
  color: white;
  z-index: 200;
  display: block;
  position: fixed;
  top: 0;
}

header nav {
  margin-top: 45px;
  padding-left: var(--centreMargin);
}

header nav ul li {
  display: inline-block;
  padding-right: 20px;
}

header nav ul {
  padding-left: 0;
}

header a {
  display: inline;
  padding-right: 20px;
  color: cornsilk;
  font-size: 30px;
  text-decoration: none;
}

.spacer {
  height: 30px;
}

.centre-column {
  display: inline-block;
  /* background: linear-gradient(to bottom right, pink, purple); */
  margin-left: var(--centreMargin);
  margin-right: var(--centreMargin);
  height: 100%;
  text-align: center;
}

.top-logo {
  color: #333;
  margin-top: 5px;
  top: 0px;
  float: left;
  position: fixed;
  z-index: 201;
  /* padding-left: 45px; */
  color: #333;
  padding-left: var(--centreMargin);
  display: inline;
}

.top-info {
  color: #333;
  padding-right: 15%;
  text-align: right;
  margin-top: 0px;
  font-size: 15px;
  display: inline;
  float: right;
  font-weight: 400;
  display: inline;
  padding-right: 20px;
}

.list-item {
  display: inline-block;
}

/* .top-info {
  color: #333;
  font-weight: normal;
  right: var(--centreMargin);
  font-size: 15px;
  margin-top: 30px;
  top: 0px;
  float: right;
  position: fixed;
  z-index: 201;
} */

/* .list-item {
  style: none;
  color: cornsilk;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 20px;
  margin-top: 15px;
  display: inline;
}

.list-item:hover {
  background-color: lightgreen;
  color: white;
} */




/* Footer styling below VVVV */

.bottom-footer {
  padding: 20px var(--centreMargin);
  margin-top: 2%;
  bottom: 0;
  height: 150px;
  width: 100%;
  background-color: RGB(230,168,23);
}

.bottom-footer h2 {
  text-align: left;
  vertical-align: top;
}

.contact-us {
  margin-right: 10%;
  vertical-align: top;
  font-size: 12px;
  display: inline-block;
  width: 250px;
}

.footer-nav {
  margin-left: 25vw;
  display: block;
}

.footer-nav-item {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-left: 25px;
  font-size: 15px;
  color: cornsilk;
}
